
.footer2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #bec0c2;
    flex-wrap: wrap;
    color: #0d0d0d;
    text-align: center;
}

.info {
    width: 580px;
    padding-left: 20px;
    text-align: center;
}

.contactos {
    padding:20px;
    width: 580px;
    text-align: right;
    padding-right: 20px;
}

.info__logo:visited {
    color: #000;
}

.info__logo:hover {
    color: #707273;
}

.info__parrafo {
    text-align: center;
    padding: 20px;
}

.lista-miembros__item {
    list-style: none;
}

.contactos__titulo {
    width: 600px;
    text-align: center;
}
